<% include ../partials/header.ejs %>

<div class="mainWrapper">
    <h1 class="formTop">Edit User</h1>
    <div class="container">
        <form action="/<%= currentUser._id %>/post/<%= post._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="username">Image</label>
                <input class="form-control" type="text" name="image" autocomplete="off" value="<%= post.image %>"
                    readonly />
            </div>
            <div class="form-group">
                <label for="firstName">Caption</label>
                <input class="form-control" type="text" name="caption" autocomplete="off" value="<%= post.caption %>"
                    required />
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block">Confirm Changes</button>
            </div>
            <hr>
            <a href="/<%= currentUser._id %>/post/<%= post._id %>">Back</a>
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>