<% include ../partials/header.ejs %>

<div class="mainWrapper">
    <div class="post">
        <div class="showPost">
            <img src="<%= post.image %>" alt="" id="displayPost">
        </div>
        <div class="showOther">

            <div class="showPostInfo">
                <p><strong><%= post.author.username %></strong></p>
                <p><strong style="margin-right: 5px;"><%= post.author.username %></strong><%= post.caption %></p>
                <% if(currentUser && currentUser._id.equals(post.author.id)){ %>
                <form action="/<%= user.username %>/post/<%= post._id %>?_method=DELETE" method="POST"
                    class="deletePostForm">
                    <a href="/<%= user.username %>/post/<%= post._id %>/edit" class="btn btn-secondary">Edit <i
                            class="fas fa-edit"></i></a>
                    <button class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></button>
                </form>
                <% } %>
            </div>

            <hr>

            <div class="showComments">
                <% post.comments.forEach(function(comment){ %>
                <div class="showEachComment">
                    <div class="showEachCommentTop">
                        <p style="margin-bottom: 2px;"><strong><%= comment.author.username %></strong></p>
                        <% if(currentUser && currentUser._id.equals(comment.author.id)){ %>
                        <form
                            action="/<%= user.username %>/post/<%= post._id %>/comment/<%= comment._id %>/delete?_method=DELETE"
                            method="POST" class="editCommentForm" style="display: inline;">
                            <a href="/<%= user.username %>/post/<%= post._id %>/comment/<%= comment._id %>/edit"
                                class="">Edit </a>
                            <button class="">Delete</button>
                        </form>
                        <% } %>
                    </div>

                    <p style="margin-bottom: 2px;"><%= comment.text %></p>

                </div>
                <%}) %>
            </div>
            
            <hr>

            <div class="showReactionBtn">
                <%  if(isPostLiked === -1){ %>
                <form action="/<%= user.username %>/post/<%= post._id %>/like" method="POST" id="likeBtn">
                    <a class="showCommentArea"><i class="fas fa-comment fa-2x"></i></a>
                    <button class=""><i class="far fa-heart fa-2x"></i></button>
                </form>
                <% } else { %>
                <form action="/<%= user.username %>/post/<%= post._id %>/unlike" method="POST" id="unlikeBtn">
                    <a class="showCommentArea"><i class="fas fa-comment fa-2x"></i></a>
                    <button class=""><i class="fas fa-heart fa-2x"></i></button>
                </form>
                <% } %>
                <form action="/<%= post.author.username %>/post/<%= post._id %>/comment" method="POST" class="addCommentArea"
                    style="margin: 2% auto;">
                    <input class="form-control" type="text" name="text" autocomplete="off" placeholder="Comment"
                        maxlength="140"/>
                    <button class="btn btn-md btn-primary btn-block">Add Comment</button>
                </form>
            </div>

        </div>

    </div>
</div>

<% include ../partials/footer.ejs %>