<% include ../partials/header.ejs %>

<div class="mainWrapper">
    <div class="post">
        <div class="showPost">
            <img src="<%= post.image %>" alt="" id="displayPost">
        </div>
        <div class="showOther">
            <form action="/<%= user._id %>/post/<%= post._id %>?_method=DELETE" method="POST">
                <a href="/<%= user._id %>/post/<%= post._id %>/edit" class="btn btn-info">Edit</a>
                <button class="btn btn-danger">Delete</button>
            </form>
            <a href="/<%= user._id %>/post/<%= post._id %>/comment/new" class="btn btn-primary">Add Comment</a>
            <%  if(isPostLiked === -1){ %>
            <form action="/<%= user._id %>/post/<%= post._id %>/like" method="POST" id="likeBtn">
                <button class="btn btn-secondary">Like</button>
            </form>
            <% } else { %>
            <form action="/<%= user._id %>/post/<%= post._id %>/unlike" method="POST" id="unlikeBtn">
                <button class="btn btn-secondary">Unlike</button>
            </form>
            <% } %>

            <div>
                <%= post.author.username %>
            </div>
            <div>
                <%= post.caption %>
            </div>

            <hr style="margin: 2px 0;">

            <% post.comments.forEach(function(comment){ %>
            <p style="margin-bottom: 2px;"><strong><%= comment.author.username %></strong></p>
            <p style="margin-bottom: 2px;"><%= comment.text %></p>
            <form action="/<%= user._id %>/post/<%= post._id %>/comment/<%= comment._id %>/delete?_method=DELETE"
                method="POST" class="">
                <a href="/<%= user._id %>/post/<%= post._id %>/comment/<%= comment._id %>/edit"
                    class="btn btn-info btn-sm">Edit Comment</a>
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>
            <%}) %>
        </div>

    </div>
</div>

<% include ../partials/footer.ejs %>