<% include partials/header.ejs %>


<div class="mainWrapper">
    <h1 class="formTop">Posts</h1>
    <div class="posts">

        <% user.following.forEach(function(user){ %>
        <% user.posts.forEach(function(post){ %>
        <div class="postContainer">

            <div class="postTop">
                <div class="userPicFrameLanding">
                    <img src="<%= user.avatar %>" alt="" class="userPicLanding" class="img-fluid">
                </div>
                <a href="/<%= user.username %>"><%= user.username %></a>
            </div>

            <div class="postImageContainer">
                <a href="/<%= post.author.username %>/post/<%= post._id %>"><img src="<%= post.image %>" alt=""
                        class="postImage"></a>
            </div>

            <div class="postCaption">
                <p><span><a href="/<%= user.username %>"><%= user.username %></a></span> <%= post.caption %></p>
            </div>

        </div>

        <% }) %>
        <% }) %>


    </div>

</div>

<% include partials/footer.ejs %>