<% include ../partials/header.ejs %>

<div class="mainWrapper">
    <h1 class="formTop">Edit User</h1>
    <div class="container">
        <form action="/<%= user.username %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="username">User Name</label>
                <input class="form-control" type="text" name="username" autocomplete="off" value="<%= user.username %>"
                    readonly />
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" autocomplete="off"
                    value="<%= user.firstName %>" required />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" autocomplete="off" value="<%= user.lastName %>"
                    required />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" autocomplete="off" value="<%= user.email %>"
                    required />
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select name="gender" class="form-control" autocomplete="off" required>
                    <option value="" disabled selected><%= user.gender %></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="avatar">Profile Photo</label>
                <input class="form-control" type="text" name="avatar" placeholder="Avatar URL" autocomplete="off"
                    value="<%= user.avatar %>" />
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block">Confirm Changes</button>
            </div>
            <hr>
            <a href="/<%= user.username %>">Back</a>
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>