<% include ../partials/header.ejs %>

<div class="mainWrapper">
    <div class="wrapperTopUserPage">
        <div id="userPicFrame">
            <img src="<%= user.avatar %>" alt="" id="userPic" class="">
        </div>
        <div class="" id="userInfo">
            <div id="userNameAndFollow">
                <p class="row" id="userName"><strong><%= user.username %></strong></p>

                <%  if(!user._id.equals(currentUser._id)){ %>
                <%  if(isUserFollowed === -1){ %>
                <form action="/<%= user._id %>/follow" method="POST" class="form-inline" id="userFollow">
                    <button class="btn btn-primary btn-sm" id="followBtn">Follow <strong>+</strong></button>
                </form>
                <% } else { %>
                <form action="/<%= user._id %>/unfollow" method="POST" class="form-inline" id="userFollow">
                    <button class="btn btn-primary btn-sm" id="followBtn">Unfollow</button>
                </form>
                <% } %>
                <% } %>
            </div>

            <p class="row" id="userDetails"><span class="">Posts <%= user.posts.length %></span> <span
                    class="">Followers
                    <%= user.followers.length %></span> <span class="">Following <%= user.following.length %></span>
            </p>

            <p class="row" id="userBio">Bio</p>

        </div>

    </div>
    <hr>
    <div class="gallery">
            <% user.posts.forEach(function(post){ %>
        <div class="galleryPhotoContainer"><a href="/<%= user._id %>/post/<%= post._id %>"><img src="<%= post.image %>"
                    alt="" class="galleryPhoto"></a>
        </div>
        <%}) %>
    </div>
   
</div>

<% include ../partials/footer.ejs %>