<% include ../partials/header.ejs %>

<div class="mainWrapper">
    <div class="wrapperTop">
        <div id="userPicFrame">
            <img src="<%= user.avatar %>" alt="" id="userPic" class="img-fluid">
        </div>
        <div class="" id="userInfo">
            <div id="userNameAndFollow">
                <p class="row" id="userName"><strong><%= user.username %></strong></p>
                <!-- <% if (currentUser && !user._id.equals(currentUser._id)) { %>
                <form action="/<%= user._id %>/follow" method="POST" class="form-inline" id="userFollow">
                    <button class="btn btn-primary btn-sm" id="followBtn">Follow <strong>+</strong></button>
                </form>
                <%} %> -->

                <%  if(isUserFollowed === -1){ %>
                <form action="/<%= user._id %>/follow" method="POST" class="form-inline" id="userFollow">
                    <button class="btn btn-primary btn-sm" id="followBtn">Follow <strong>+</strong></button>
                </form>
                <% } else { %>
                <form action="/<%= user._id %>/unfollow" method="POST" class="form-inline" id="userFollow">
                    <button class="btn btn-primary btn-sm" id="followBtn">Unfollow</button>
                </form>
                <% } %>
            </div>

            <p class="row" id="userDetails"><span class="">Posts <%= user.posts.length %></span> <span
                    class="">Followers
                    <%= user.posts.length %></span> <span class="">Following <%= user.posts.length %></span>
            </p>

            <p class="row" id="userBio">Bio</p>

        </div>

    </div>
    <hr>
    <% user.posts.forEach(function(post){ %>
    <div class="gallery">
        <a href="/<%= user._id %>/post/<%= post._id %>"><img src="<%= post.image %>" alt="" class="galleryPhoto"></a>
    </div>
    <%}) %>
</div>

<% include ../partials/footer.ejs %>